#innerdocbody span,
#padcontent span {
  padding: 4px 0 !important;
}

#innerdocbody h1 span,
#padcontent h1 span {
  padding: 0;
}

body {
  overflow-x: hidden;
}

option {
  text-transform: capitalize;
}

h1 {
  font-size: 2.5em !important;
}

h3 {
  font-size: 1.15em;
  letter-spacing: 1px;
}

a {
  color: var(--mb);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 120%;
}
