#users,
#mycolorpicker,
.popup,
.hyperlink-dialog {
  border-radius: 3px;
  padding: 20px 20px;
  background: none;
  background-color: var(--ly);
  border: none;
  box-shadow: 1rem 1rem var(--lp);
}

#users input[type='text'],
.popup input[type='text'] {
  border: none !important;
  border-bottom: 1px solid #ff1c8d !important;
}

.popup h1 {
  margin-bottom: 15px;
}

.popup h2 {
  margin-bottom: 15px;
}

.popup p {
  margin: 10px 0;
}
